html, body{
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
  display: flex;
  border: blue solid 1px;
  height: 100vh;
}
.main{
  width: 100%;
}

form{
  margin: 0 auto;
  width:80%;
  border: red solid 1px;
  height: 60vh;
}

.searchContainer{
  border: yellow solid 1px;
  position: relative;
  width: 80%;
}

input {
  width: 100%;
  font-size: 36px;
  border: green solid 1px;
}

.studyButton {
  width: 20%;
  border: yellow solid 1px;
  position: absolute;
  top: 0;
  right: 0;
}
